.thumbnail img {
	width: 100%;
}

.thumbnail {
	padding: 0;
}

.thumbnail .caption-full {
	padding: 9px;
}

.delete-form {
	display: inline;
}

/* body {
	background-color: rgb(25, 157, 220);
} */

/* Google Maps */
#map {
	height: 420px;
	width: 100%;
}
